@model IEnumerable<GUUI2.Models.Booking>

@{
    ViewData["Title"] = "Check Ind";
}


<h1 class="display-4">Restaurant</h1>
<body>
    <div class="text-center">
        <p> <b>Her kan du checke gæster ind til morgenmaden</b> </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dato)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VaerelsesNr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Voksne)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Boern)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VaerelsesNr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Voksne)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Boern)
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="submit" value="Check Ind" class="btn btn-primary" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>